<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Customers">
      <section name="RemoteDesktops" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RDPAssistance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="FormTop" value="0"/>
    <add key="FormLeft" value="0"/>
  </appSettings>
  <Customers>
    <RemoteDesktops>
      <!-- BGH -->
      <add key="01" value="BGH;name=PROD;host=;domain=ar;user=valero.d531;password=Axxon$201408" />
      <!-- IMS -->
      <add key="10" value="IMS;name=PROD P. van Diest;host=internal-ProdELB-TS-1707870786.us-east-1.elb.amazonaws.com;domain=ims;user=axxon_pvandiest;password=Ims12345!!" />
      <add key="11" value="IMS;name=PROD M. Rios;host=internal-ProdELB-TS-1707870786.us-east-1.elb.amazonaws.com;domain=ims;user=axxon_mrios;password=Ims12345!!" />
      <!-- TIBA -->
      <add key="20" value="TIBA;name=PROD D. Valero;host=10.8.0.244;domain=lantiba;user=D.Valero;password=Axxon$201406" />
      <add key="21" value="TIBA;name=PROD G. Mina;host=10.8.0.244;domain=lantiba;user=G.Mina;password=Axxon2012" />
      <!-- COVEDISA -->
      <add key="30" value="COVEDISA;name=TEST M. Schvening;host=192.168.1.51;domain=covedisa;user=mschvening;password=Cove2014" />
      <add key="31" value="COVEDISA;name=TEST AX Admin;host=192.168.1.51;domain=covedisa;user=AXAdmin;password=Coved159" />
      <add key="32" value="COVEDISA;name=TEST CRM Admin;host=192.168.1.51;domain=covedisa;user=CRMAdmin;password=Coved159" />
      <add key="33" value="COVEDISA;name=TEST2 AX Admin;host=192.168.1.61;domain=covedisa;user=AXAdmin;password=Coved159" />
      <add key="34" value="COVEDISA;name=ARBUE01DB06 AX Admin;host=ARBUE01DB06;domain=covedisa;user=AXAdmin;password=Coved159" />
      <!--
	    <add key="33" value="COVEDISA;name=ARBUE01DB06 CRM Admin;host=ARBUE01DB06;domain=covedisa;user=CRMAdmin;password=Coved159" />
	  -->
      <!-- FABBRI -->
      <add key="40" value="FABBRI;name=TEST R. Graña;host=FABAX6TRDSHR2;domain=fabax;user=Graña;password=AxxonF2014" />
      <add key="41" value="FABBRI;name=TEST J. Bravetti;host=FABAX6TRDSHR2;domain=fabax;user=Bravetti;password=AxxonF2014" />
      <add key="42" value="FABBRI;name=TEST D. Valero;host=FABAX6TRDSHR2;domain=fabax;user=Valero;password=AxxonF2014" />
      <add key="43" value="FABBRI;name=TEST ?. Vilanova;host=FABAX6TRDSHR2;domain=fabax;user=Vilanova;password=AxxonF2014" />
    </RemoteDesktops>
  </Customers>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <RDPAssistance.Properties.Settings>
      <setting name="FormLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FormTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SavePosition" serializeAs="String">
        <value>False</value>
      </setting>
    </RDPAssistance.Properties.Settings>
  </userSettings>
</configuration>